  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    margin-left: 20px;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }


  .questionario-form {
    max-width: 1000px; /* Aumente a largura máxima */
    margin: 0 auto;
    padding: 20px; /* Aumente o padding */
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffff00;
    border-radius: 10px;
    width: 800px;
  }

  .questionario-form h2 {
    text-align: center;
    margin-bottom: 20px; /* Aumente a margem inferior */
    font-size: 24px; /* Aumente o tamanho da fonte */
    
  }

  .form-group {
    margin-bottom: 40px; /* Aumente a margem inferior */
  }

  .form-group label {
    display: flex;
    align-items: center;
    font-size: 20px; /* Aumente o tamanho da fonte */
  }

  .form-group select {
    display: flex;
    width: 50%; /* Faz o select ocupar toda a largura disponível */
    padding: 10px; /* Adiciona padding interno ao select */
    border-radius: 5px; /* Adiciona borda arredondada */
    border: 1px solid #ccc; /* Define a cor da borda */
    font-size: 16px; /* Define o tamanho da fonte */
  }

  .form-group input[type="checkbox"] {
    margin-right: 15px; /* Aumente o espaçamento entre o checkbox e o texto */
  }

  .submit-button {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px; /* Aumente o padding */
    background-color: #007bff;
    border: none;
    border-radius: 10px; /* Aumente o raio da borda */
    color: white;
    font-size: 18px; /* Aumente o tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #0056b3;
  
  }

  .skill-page {
    max-width: 500px; /* Aumente a largura máxima */
    margin: 0 auto;
    padding: 20px; /* Aumente o padding */
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffff00;
    border-radius: 10px;
    width: 800px;
    
  }

  .skills-group {
      text-align: left;
  }

  .cargos-page {
    padding: 20px;
  }
  
  .cargos-list {
    list-style-type: disc; /* Bolinhas para os itens da lista */
    margin-left: 20px;
  }
  
  .cargo-item {
    margin-bottom: 5px; /* Espaço entre os itens */
  }


  .cargos-page {
    max-width: 700px; /* Aumente a largura máxima */
    margin: 0 auto;
    padding: 20px; /* Aumente o padding */
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffff00;
    border-radius: 10px;
    width: 800px;
    text-align: left;
  }

  .cargos-page button{
    width: 100px;
    
  }



  .cargos-page {
    padding: 20px;
  }
  
  .add-cargo-form {
    margin-bottom: 20px;
  }
  
  .add-cargo-form input {
    padding: 5px;
    margin-right: 10px;
  }


  .add-cargo-form input[type="text"] {
    background-color: #ccc; /* Altere esta cor para a que você preferir */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #000000;
    -webkit-text-stroke-color: #000000;
  }
  
  .add-cargo-form button {
    padding: 5px 5px;
  }
  
  .cargos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cargos-table th,
  .cargos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .cargos-table th {
    background-color: #f2f2f2;
  }
  